{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br><br><br>
<div class="container mt-5">
    <h2>Upload Excel File for Box Plots</h2><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input type="file" name="excel_file" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    {% if box_plots %}
        <hr>
        <h4 class="mt-4">Graphs of Variables</h4>
        <div class="row">
            {% for plot in box_plots %}
            <div class="col-md-4 mb-3">
                <img src="{{ plot }}" class="img-fluid rounded border" alt="Plot"
                     data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="{{ plot }}" class="img-fluid" alt="Large Plot">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}
