{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- banner-section -->
    <section class="banner-section">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url({% static 'assets/images/shape/pattern-1.png);"></div>
            <div class="pattern-2" style="background-image: url({% static 'assets/images/shape/pattern-2.png);"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h1>Free data analysis tools available for <span class="animation_text_word"></span></h1>
                        <p>This site exists to offer meaningful, data-driven insights—completely free of charge. </p>
                        <div class="btn-box">
                            <a href="{% url 'home' %}" class="theme-btn style-one">Learn More</a>
                            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image video-btn" data-caption=""><i class="flaticon-play"></i>Watch Video</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image image-1"><img src="{% static 'images/banner-1.png' %}" alt=""></figure>
                        <figure class="image image-2 float-bob-y"><img src="{% static 'images/banner-2.png' %}" alt=""></figure>
                        <figure class="image image-3 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms"><img src="{% static 'images/banner-5.png' %}" alt=""></figure>
                        <figure class="image image-4"><img src="{% static 'images/banner-3.png' %}" alt=""></figure>
                        <figure class="image image-5 rotate-me"><img src="{% static 'images/banner-4.png' %}" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- feature-section -->
    <section class="feature-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-checked"></i>
                            </div>
                            <h3><a href="index.html">Word Document Analysis</a></h3>
                            <p>We help you uncover quick, meaningful insights from your Word documents.</p>
                            <div class="btn-box"><a href="{% url 'word-analysis' %}" class="theme-btn style-two">Learn More</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <h3><a href="index.html">Excel Analysis</a></h3>
                            <p>We extract meaningful insights from your Excel sheet to help you quickly understand your data.</p>
                            <div class="btn-box"><a href="{% url 'excel-analysis' %}" class="theme-btn style-two">Learn More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-section end -->


    <!-- about-section -->
    <section class="about-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_01">
                        <div class="image-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><img src="{% static 'images/illustration-2.png' %}" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_01">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>DESIGNED FOR YOU</p>
                                <h2>Purpose of This Web Page.</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>If you're exploring documents, spreadsheets, or patterns in your own data, our goal is to help you uncover useful information quickly and easily. These insights are designed to:</p>
                            </div>
                            <ul class="list-item clearfix wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <li>Support Decision-making</li>
                                <li>Spark Ideas</li>
                                <li>Make Analysis More Accessible to Everyone</li>
                            </ul>
                            <div class="btn-box wow slideInUp" data-wow-delay="900ms" data-wow-duration="1500ms"><a href="about.html" class="theme-btn style-one">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


    <!-- process-section -->
    <section class="process-section bg-color-1">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="background-image: url({% static 'assets/images/shape/pattern-3.png)"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_02">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>How it Works</p>
                                <h2>How You Get Insights?</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
<!--                                <p>Dolor sit amet consectetur elit sed eiusmod tempor incidi dunt labore  dolore magna aliqua enim ad minim veniam quis nostrud.</p>-->
                            </div>
                            <div class="inner-box wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="single-item">
                                    <div class="count-box">1</div>
                                    <h3><a href="index.html">Upload Your Information</a></h3>
                                    <div class="text">Upload either an excel document or a word document to us</div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">2</div>
                                    <h3><a href="index.html">This web page then works its magic</a></h3>
                                    <div class="text">In the background we do the calculations for you</div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">3</div>
                                    <h3><a href="index.html">Provide Insights</a></h3>
                                    <div class="text">We provide the automated insights based on your data</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_02">
                        <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><img src="{% static 'images/illustration-3.png' %}" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process-section end -->


    <!-- service-section -->
    <section class="service-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Best Services</p>
                <h4>Any document you upload is processed instantly to generate insights—we don’t store, retain, or share your data. Your content remains yours, and the analysis is delivered in real time, with no footprint left behind</h4>
            </div>
            <div class="row justify-content-center clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-machine-learning"></i></div>
                            <h3>About This Site</h3>
                            <p>This website was created by Alex Dance, a data analyst who has delivered meaningful insights to both employers and clients. Over time, Alex noticed a consistent process behind how those insights emerged—and now, he’s sharing that framework and results freely for others to explore and benefit from.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->




    <!-- project-section -->
    <section class="project-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Recent Projects</p>
                <h2>Check Some of Our<br />Example Outputs.</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="{% static 'images/Correlations.png' %}" alt="">
                                </figure>
                                <a href="{% static 'images/Correlations.png' %}" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Correlations/Relationships amongst Data</a></h3>
                                <span>Excel Insights</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="{% static 'images/Scatter Plots.png' %}" alt="">
                                </figure>
                                <a href="{% static 'images/Scatter Plots.png' %}" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Scatter Plots / Graphing Relationships</a></h3>
                                <span>Excel Insights</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="{% static 'images/BoxPlots.png' %}" alt="">
                                </figure>
                                <a href="{% static 'images/BoxPlots.png' %}" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Box Plots/Range of Fields</a></h3>
                                <span>Excel Insights</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="{% static 'images/WordCloud.png' %}" alt="">
                                </figure>
                                <a href="{% static 'images/WordCloud.png' %}" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Word Cloud /Visualise the Words</a></h3>
                                <span>Word Insights</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="{% static 'images/Labels.png' %}" alt="">
                                </figure>
                                <a href="{% static 'images/Labels.png' %}" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Find Labels and Places and People</a></h3>
                                <span>Word Insights</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="{% static 'images/Top Phrases.png' %}" alt="">
                                </figure>
                                <a href="{% static 'images/Top Phrases.png' %}" class="lightbox-image view-btn" data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="portfolio-details.html">Top Phrases / Top Words used</a></h3>
                                <span>Word Insights</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->
{% endblock %}
