{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Data Analytics App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                   href="{% url 'home' %}">Home</a>
            </li>
            &nbsp;&nbsp;
            <!-- Word Document Analysis Dropdown -->
            {% with request.resolver_match.url_name as current_url %}
            <li class="nav-item dropdown {% if current_url in 'word_cloud phrases_used labels' %}active{% endif %}">
                <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="wordDocDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Word Document Analysis
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="wordDocDropdown">
                    <li>
                        <a class="dropdown-item {% if current_url == 'word_cloud' %}active{% endif %}"
                           href="{% url 'word_cloud' %}">Word Cloud</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if current_url == 'phrases_used' %}active{% endif %}"
                           href="{% url 'phrases_used' %}">Phrases Used</a>
                    </li>
                    <li>
                        <a class="dropdown-item {% if current_url == 'labels' %}active{% endif %}"
                           href="{% url 'labels' %}">Labels</a>
                    </li>
                </ul>
            </li>
            {% endwith %}

            &nbsp;&nbsp;

            <!-- Data Visualization -->
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary {% if request.resolver_match.url_name == 'data-visualization' %}active{% endif %}"
                   href="{% url 'data-visualization' %}">Data Visualization</a>
            </li>

            &nbsp;&nbsp;

            <!-- Titanic -->
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary {% if request.resolver_match.url_name == 'titanic' %}active{% endif %}"
                   href="{% url 'titanic' %}">Titanic</a>
            </li>

            &nbsp;&nbsp;

            <!-- EDA Dropdown -->
            {% with request.resolver_match.url_name as current_url %}
            <li class="nav-item dropdown {% if current_url|slice:":4" == 'eda-' %}active{% endif %}">
                <a class="nav-link dropdown-toggle btn btn-outline-secondary" href="#" id="edaDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    EDA
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="edaDropdown">
                    <li><a class="dropdown-item {% if current_url == 'eda-heatmap' %}active{% endif %}" href="{% url 'eda-heatmap' %}">Heatmap</a></li>
                    <li><a class="dropdown-item {% if current_url == 'eda-scatter-plots' %}active{% endif %}" href="{% url 'eda-scatter-plots' %}">Scatter Plots</a></li>
                    <li><a class="dropdown-item {% if current_url == 'eda-line-graphs' %}active{% endif %}" href="{% url 'eda-line-graphs' %}">Line Graphs</a></li>
                    <li><a class="dropdown-item {% if current_url == 'eda-box-plots' %}active{% endif %}" href="{% url 'eda-box-plots' %}">Box Plots</a></li>
                    <li><a class="dropdown-item {% if current_url == 'eda-pair-plot' %}active{% endif %}" href="{% url 'eda-pair-plot' %}">Pair Plot</a></li>
                </ul>
            </li>
            {% endwith %}
        </ul>
    </div>
</nav>
