{% extends 'base.html' %}

{% block title %}
<title>Readability Analysis</title>
{% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="container mt-5">
    <h1>Upload Word File for Readability Analysis</h1>
    <form action="{% url 'readability' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="file" class="form-label">Select a Word file (.docx)</label>
            <input class="form-control" type="file" id="file" name="file" accept=".docx">
        </div>
        <div class="mb-3">
            <label for="user_threshold" class="form-label">Enter Readability Threshold (Bottom % of scores)</label>
            <input class="form-control" type="number" id="user_threshold" name="user_threshold" value="5" min="1" max="100">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if image_data %}
    <div class="mt-4">
        <h2>Readability Chart</h2>
        <img src="data:image/png;base64,{{ image_data }}" alt="Readability Chart">
    </div>
    {% endif %}

    {% if formatted_low_rank_sentences %}
    <div class="mt-4">
        <h2>Hardest to Read Sentences</h2>
        <div class="scrollable-section">
            <ul>
                {% for sentence in formatted_low_rank_sentences %}
                <li><pre>{{ sentence }}</pre></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
