{% extends 'base.html' %}

{% block title %}
<title>Sentiment Analysis</title>
<meta name="description" content="Analyze the sentiment of your text data quickly and accurately. Upload your file to explore positive, negative, and neutral trends with visual insights and detailed reports.">
{% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="container mt-5">
    <h1>Upload Word File for Sentiment Analysis</h1><br>
    <h4>Sentiment analysis evaluates the emotional tone of each sentence in your document—whether it's positive, negative, or neutral. Upload your Word file now to uncover the most positive and negative sentences and gain insights into how your message might be received.</h4>
    <br>
    <form action="{% url 'sentiment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="file" class="form-label">Select a Word file (.docx)</label>
            <input class="form-control" type="file" id="file" name="file" accept=".docx">
        </div>
        <div class="mb-3">
            <label for="top_positive" class="form-label">Enter % for top positive sentences</label>
            <input class="form-control" type="number" id="top_positive" name="top_positive" value="5" min="1" max="100">
        </div>
        <div class="mb-3">
            <label for="most_negative" class="form-label">Enter % for most negative sentences</label>
            <input class="form-control" type="number" id="most_negative" name="most_negative" value="5" min="1" max="100">
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    {% if sentiment_count_plot_data %}
<div class="mt-4">
    <h2>Sentiment Count Plot (Positive, Negative, Neutral)</h2>
    <img src="data:image/png;base64,{{ sentiment_count_plot_data }}" alt="Sentiment Count Plot">
</div>
{% endif %}

{% if sentiment_plot_data %}
<div class="mt-4">
    <h2>Sentiment Distribution Plot (Positive vs Negative)</h2>
    <img src="data:image/png;base64,{{ sentiment_plot_data }}" alt="Sentiment Plot">
</div>
{% endif %}

{% if formatted_top_positive_sentences %}
<div class="mt-4">
    <h2>Most Positive Sentences</h2>
    <ul>
        {% for sentence in formatted_top_positive_sentences %}
        <li><pre>{{ sentence }}</pre></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if formatted_top_negative_sentences %}
<div class="mt-4">
    <h2>Most Negative Sentences</h2>
    <ul>
        {% for sentence in formatted_top_negative_sentences %}
        <li><pre>{{ sentence }}</pre></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

</div>
{% endblock %}
