{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h2>Upload Excel File</h2>
        <form id="upload-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="file">Select Excel File:</label>
                <input type="file" name="file" id="file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Upload</button>
            <a href="{% static 'images/excel-demo.png' %}" target="_blank" class="btn btn-info ml-2">View Sample Excel</a>
        </form>

        <div id="upload-message" class="mt-4"></div>

        <button id="see-uploaded-data" class="btn btn-secondary mt-4">View Uploaded Data</button>
        <button id="delete-all-data" class="btn btn-danger mt-4">Delete All Data</button>
        <table id="person-table" class="table table-striped mt-4" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be populated here -->
            </tbody>
        </table>
    </div>

    <!-- Custom Js file -->
    <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
